# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [4]:
import pandas as pd
import numpy as np
import random

In [5]:
"""
import random

# Generate a list of 5 random integers between 1 and 100,000,000
random_numbers = [random.randint(1, 100000000) for _ in range(5)]

print(random_numbers)
"""

'\nimport random\n\n# Generate a list of 5 random integers between 1 and 100,000,000\nrandom_numbers = [random.randint(1, 100000000) for _ in range(5)]\n\nprint(random_numbers)\n'

In [6]:
data = {'國家': ["Taiwan","China","USA","Japan","Italy"],
        '人口': [random.randint(1,100000000) for _ in range(5)]
       }
# nation = ["Taiwan","China","USA","Japan","Italy"]
# population = [random.randint(1,100000000) for _ in range(5)]

data

{'國家': ['Taiwan', 'China', 'USA', 'Japan', 'Italy'],
 '人口': [11884897, 43206899, 27773436, 11163256, 33854289]}

In [7]:
df = pd.DataFrame(data)
df

       國家        人口
0  Taiwan  11884897
1   China  43206899
2     USA  27773436
3   Japan  11163256
4   Italy  33854289

In [8]:
print(f" MAX: {df['人口'].max()} \
      \n MIN: {df['人口'].min()} \
      \n MEAN: {df['人口'].mean()} \
      \n SUM: {df['人口'].sum()} \
      \n STD: {df['人口'].std()}")

 MAX: 43206899
 MIN: 11163256
 MEAN: 25576555.4
 SUM: 127882777
 STD: 13958696.954888172